<main class="flex flex-column pt-3 gap-4">

  <div class="flex flex-row justify-content-evenly align-items-center">
    <app-card class="w-5" [value]="taskService.pendingCount()" [isPending]="true"></app-card>
    <app-card class="w-5" [value]="taskService.completedCount()" [isPending]="false"></app-card>
  </div>

  <app-task-form></app-task-form>

  <p-icon-field>
    <p-inputicon class="pi pi-search"></p-inputicon>
    <input type="text" pInputText placeholder="Buscar tarefa..." (input)="searchTermInput($event)" fluid>
  </p-icon-field>

  @if (!taskService.error()) {
    @if (!taskService.isLoading()) {
      @for (task of filteredTasks(); track task.id) {
        <app-task-item
          [task]="task"
          (toggleCompleted)="toggleComplete($event)"
          (deleteTask)="deleteTask($event)"
        ></app-task-item>
      }
      @empty {
        <p>Nenhuma tarefa ainda. Adicione a primeira!</p>
      }
    }
    @else {
      <p>Carregando...</p>
    }
  }
  @else {
    <p>Erro ao carregar os registros</p>
  }



</main>
