<div class="fluid border-round shadow-1 p-2">
  
  <form novalidate>
    <div class="grid">
      <div class="field col-12 flex flex-column gap-2">
        <div class="flex justify-content-left align-items-center gap-2">
          <div class="p-1 flex justify-content-center align-items-center bg-primary border-circle">
            <svg data-p-icon="plus" size="17"></svg>
          </div>
          <label for="name" class="font-bold"> Nova tarefa</label>
        </div>
        <p-icon-field>
          <p-inputicon class="pi pi-tag"></p-inputicon>
          <input type="text" id="name" placeholder="Nome da tarefa" pInputText [formField]="taskForm.name" fluid >
        </p-icon-field>
        @if (taskForm.name().touched() && taskForm.name().invalid()) {
          @for (err of taskForm.name().errors(); track err.kind) {
             <p-message severity="error" size="small" variant="simple">{{err.message}}</p-message>
          }
        }
      </div>
      <div class="field col-12 flex flex-column gap-2">
        <div class="flex justify-content-left align-items-center gap-2">
          <label for="description" class="font-bold">Descrição</label>
        </div>
        <p-icon-field>
          <p-inputicon class="pi pi-file-edit"></p-inputicon>
          <input type="text" id="description" placeholder="Nome da tarefa" pInputText [formField]="taskForm.description" fluid >
        </p-icon-field>
        @if (taskForm.description().touched() && taskForm.description().invalid()) {
          @for (err of taskForm.description().errors(); track err.kind) {
             <p-message severity="error" size="small" variant="simple">{{err.message}}</p-message>
          }
        }
      </div>
      <div class="field col-12">
        <button pButton fluid (click)="onSubmit()" [disabled]="!taskForm().valid() || taskForm().submitting()">
          <svg data-p-icon="save" size="20"></svg>
          {{ taskForm().submitting() ? "Salvando..." : "Salvar" }}
        </button>
      
      </div>
    </div>
  </form>
</div>

